.App {
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Julius Sans One', sans-serif;
}


:root {
  --background-color:#140C32;
  --primary-color: #E7DBB2;
  --secondary-color:#9F9380;
  --contrast-color: #FFC634; 
  --contrast-secondary:#FF8C32;
  --muted-color: #C7C7C6;
  --outline-color:#B1954B;
  --text-color: #333333; 
}

